.NavBar {
    width: 1440px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    background-color: #033E8A;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    size: 28px;
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.logo-name {
    display: flex;
    align-items: center;
    width: 250px;
}

.logo-name img {
    position: fixed;
    top: 12px;
    left: 12px;
    height: 40px;
    width: 71px;
}



.NavBar-right {
    display: flex;
    align-items: center;
}

.option {
    margin-inline: 24px;
}

.SearchBox {
    background-color: #033E8A;
}

.SearchInput {
    width: 300px;
    height: 8px;
    color: white;
    background-color: #033E8A;
    padding-top: 12px;
    padding-left: 24px; 
    padding-right: 24px;
    padding-bottom: 12px;
    border-radius: 6px;
    border-width: 1px;
    border-color: #9F9F9F;
}

.right {
    align-items: end;
}

.icon {
    margin-left: 20px;
    height: 30px;
    width: 30px;
}

.NavBar a.option > .user-initials {
    text-decoration: none;
}




.search-icon {
    position: relative;
    top: 10px;
    left: 20px;
    transform: translateY(-50%);
    color: #ccc;
}