.WalkthroughLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button.SkipWalkthroughButton {
    width: 210px;
    height: 48px;
    color: #033E8A;
    background-color: #FFFFFF;
}

button.StartWalkthroughButton {
    width: 210px;
    height: 48px;
    color: #FFFFFF;
    background-color: #033E8A;
}