.task {
    display: inline-flex;
    flex-direction: row;
    color: black;
    background-color: #DEE8F5;
    height: 67px;
    width: 1110px;
    border-radius: 4px;
    padding: auto;
}

.status {
    height: 42px;
    width: 110px;
}